/* Screen Below 944 px */
@media (max-width: 59em) {
  body {
    overflow-x: hidden;
  }
  .container {
    flex-direction: column;
    justify-content: center;
  }

  .search-container {
    width: 40rem;
    padding: 0.5rem;
  }

  .search-container input[type="search"] {
    font-size: 1.4rem;
  }

  .countries {
    max-width: 100vw;
    padding: 4rem;
    overflow-x: auto;
    flex-wrap: nowrap;
    -webkit-overflow-scrolling: touch;
  }

  .countries::-webkit-scrollbar {
    display: none;
  }

  .country {
    box-shadow: 0 1rem 3rem 1rem rgba(0, 0, 0, 0.1);
  }
  .country__img {
    width: 15rem;
  }
}

/* Screen Below 400 px */
@media (max-width: 25em) {
  .country {
    width: 25rem;
    height: 45rem;
    font-size: 1.4rem;
  }

  .country__name {
    font-size: 2rem;
  }

  .country__row span {
    font-size: 1.2rem;
  }

  .country__region {
    font-size: 1.5rem;
  }
  .country__img {
    width: 12rem;
  }
  .search-container {
    width: 35rem;
    top: 6rem;
  }
}
