* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
}

body {
  font-family: system-ui;
  background-color: #d6d6d6;
  min-height: 100vh;
  min-width: fit-content;
  overflow: hidden;

  display: flex;
  align-items: center;
  justify-content: center;
}

.logo {
  position: absolute;
  top: 7rem;
}

.hidden {
  display: none;
}

.error-message {
  position: absolute;
  top: 100%;
  left: 0;
  font-style: italic;
  color: #f53939;
  font-size: 1.1rem;
  margin: 0.7rem;
  font-weight: 500;
}

/* Search Button */
/* ----------------------------------------------------------------------------------------------------------------------------------------------- */

.search-container {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  background-color: #e0e0e0;
  border-radius: 0.8rem;
  padding: 0.8rem;
  box-shadow: 0rem 0.2rem 0.3rem rgba(0, 0, 0, 0.2);
  margin-bottom: 6rem;
}

.search-container.error {
  border: 2px solid #f53939;
}

.search-container:hover,
.search-container:focus-within {
  background-color: #ebebeb;
}

.search {
  border: none;
  width: 50rem;
  background-color: transparent;
  padding: 0.6rem;
  outline: none;
}

.search-button {
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.search-icon {
  height: 3rem;
  width: 3rem;
  background-color: transparent;
  color: #a3a3a3;
}

/* ----------------------------------------------------------------------------------------------------------------------------------------------- */

.current-location-btn {
  position: absolute;
  top: 1rem;
  background-color: #e0e0e0;

  border: none;
  outline: none;
  cursor: pointer;

  border-radius: 50%;
  height: 50px;
  overflow: hidden;
  width: 50px;
}

.current-location-btn:hover {
  background-color: #ebebeb;
}

.current-location-btn ion-icon {
  width: 2.7rem;
  height: 2.7rem;
}

.current-location-btn ion-icon:hover {
  transform: scale(1.3);
  transition: all 0.5s;
}

/* --------------------------------------------------------------------------------------------------------------------------------- */

.container {
  display: flex;
  flex-flow: column;
  align-items: center;
}

.countries {
  display: flex;
}

.country {
  background-color: #e0e0e0;
  font-size: 1.8rem;
  box-shadow: 0 2rem 5rem 1rem rgba(0, 0, 0, 0.2);
  padding: 3rem 4rem;

  border-radius: 0.7rem;
  margin: 0 3rem;
  position: relative;

  scroll-behavior: smooth;

  transition: all 0.5s;
}

/* Close card btn */

.close-btn {
  outline: none;
  border: none;
  background-color: transparent;
  cursor: pointer;
  position: absolute;
  top: 1rem;
  right: 1rem;
}

.close-btn ion-icon {
  width: 2.5rem;
  height: 2.5rem;
}

.close-btn:hover {
  transform: scale(1.2);
  transition: all 0.5s;
}

/* Hides card beyond the 3rd one */

.country:nth-child(n + 4) {
  display: none;
}

.country:hover {
  transform: scale(1.08);
  box-shadow: 0 0 1rem rgba(0, 0, 0, 0.2);
}

.country__name {
  font-size: 2.7rem;
  margin-bottom: 0.7rem;
}

.country__region {
  font-size: 1.7rem;
  margin-bottom: 2rem;
  color: #888;
}

.country__row:not(:last-child) {
  margin-bottom: 1rem;
}

.country__row span {
  display: inline-block;
  margin-right: 2rem;
  font-size: 2.4rem;
}

.images {
  display: flex;
}

img {
  display: block;
  width: 80rem;
  margin: 4rem;
  border-radius: 0.7rem;
}

.country__img {
  width: 25rem;
}
